/* ofertas */
.celdaOfertas{
	display: block;
	cursor: pointer;
}
.celdaOfertas>img{
	width: 125px;
	padding: 10px;
}
.celdaOfertas>div{
	background-color: #5E5;
	padding: 5px;
	border-radius: 0px 0px 10px 10px;
}
.celdaOfertas>div>p{
	margin: 5px;
	min-height: 35px;
}
.nombreProducto{
	font-size: 1em;
}
.descuento{
	font-size: 0.75em;
	color: red;
}
/* productos */
.celdaProducto{
	margin: 20px;
	display: flex;
}
.celdaProducto>img{
	padding: 20px;
	width: 115px;
	transition: background-color 1s ease, border-radius 0.3s ease;
}
.celdaProducto>img:hover{
	border-radius: 20px;
	background-color: white;
}
.celdaProducto>.informacion{
	width: 100%;
	background-color: #5E5;
	border-radius: 10px;
}
.informacion{
	display: flex;
	padding: 20px;
	text-align: left;
}
.informacion>div{
	width: 50%;
}
.informacion p{
	font-size: 0.75em;
	padding: 5px;
}
.botones{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.botones>button{
	font-family: Verdana;
	height: 30px;
	width: 110px;
	margin: 0px 10px 0px 10px;
	background: rgba(0,150,0,0.5);
	border: none;
	color: black;
	border-radius: 5px;
	transition: background-color 1s ease, color 1s ease;
}
.botones>button:hover{
	color: white;
	background-color: rgba(0,100,0,0.75);
}