.contenedor{
	background-color: #DDD;
	margin: 2.5%;
	padding: 2.5%;
	min-width: 90vh;
	border-radius: 20px;
	text-align: center;
	display: block;
	font-family: Verdana;
}
.tituloPagina{
	font-size: 0.75em;
	padding: 5px;
}
.tituloProducto{
	font-size: 1.5em;
	padding: 10px;
}
/* division */
.division{
	border-radius: 20px;
	background-color: #CCC;
	display: flex;
}
.division>.filtros{
	padding: 20px;
	width: 30%;
}
.division>.productos{
	width: 100%;
}
.filtros>div{
	text-align: left;
}